// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  box-shadow: none;
  border: none;
}

// fonts
html {
  font-size: 9px;
  @include mq(s) {
    font-size: 10px;
  }
  @include mq(m) {
    font-size: 11px;
  }
}

body {
  font-size: 1.6rem;
  font-family: $primary-font;
  color: $primary-color;
}

// headers
h1 {
  text-align: center;
  font-size: 4.2rem;
  margin-bottom: 70px;
}

h2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 60px;
}
h3 {
  font-size: 2.9rem;
  margin-bottom: 45px;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

// paragraph
p {
  line-height: 2.2rem;
}

// images
img {
  max-width: 100%;
}

// input
input,
select {
  background: none;
  border: $primary-color 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 45px;
  background: $dark-bg-color;
}

section {
  opacity: 0;
  transition: opacity 2s;
}
section.active {
  opacity: 1;
}
